/PBFT/Migrations
/PBFT/bin
/PBFT/obj
/PBFT/.vscode
PBFT/Reinistialize.sh


/BlockchainTypes/bin
/BlockchainTypes/obj
/BlockchainTypes/nupkg

/StartupServer/.vscode
/StartupServer/bin
/StartupServer/obj


/KubernetesConfigs/ClearCluster.sh
/KubernetesConfigs/DeployApp.sh
/KubernetesConfigs/RebuildCluster.sh

